# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.env
.env*
venv/
ENV/
.envrc

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
data/
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.json
*.pickle
*.joblib

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.tmp
*.orig
*.rej
